{% extends 'tree/base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                {% if person.parent == None %}
                <a href="/" class="btn btn-lg active" role="button" aria-pressed="true">Back</a>
                {% else %}
                <a href="../../persons/{{ person.parent }}" class="btn btn-lg active" role="button" aria-pressed="true">Back</a>
                {% endif %}
            </div>
            <div class="col align-self-center">
                <img src="{% static 'tree/' %}{{ person.image }}" class="rounded-circle img-fluid" alt="{{ person.name }}" />
                <p class="text-center">{{ person.name }}</p>
            </div>
            <div class="col">
                <a href="/"><img src="{% static 'tree' %}/logo.png" alt="Home" class="img-fluid w-25"></a>
            </div>
        </div>
    </div>
    {% if person.number_subordinates_hr != 0 %}
    <div class="container-fluid">
        <div class="row">
            {% if person.number_subordinates_hr > 1 %}
            {% for subordinate in subordinates %}
            <div class="col">
                <a href="/persons/{{ subordinate.id }}">
                    <img src="{% static 'tree/' %}{{ subordinate.image }}" class="rounded-circle img-fluid" alt="{{ subordinate.name }}" />
                    <p class="text-center">{{ subordinate.name }}</p>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <div class="col"></div>
            {% for subordinate in subordinates %}
            <div class="col">
                <a href="/persons/{{ subordinate.id }}">
                    <img src="{% static 'tree/' %}{{ subordinate.image }}" class="rounded-circle img-fluid" alt="{{ subordinate.name }}" />
                    <p class="text-center">{{ subordinate.name }}</p>
                </a>
            </div>
            {% endfor %}
            <div class="col"></div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}